logs/
*.lck
*.log
*.log.*
*.log.gz
*.schematic
crash-reports
logs
debug

survival/
survival_nether/
survival_the_end/
adventure/
usercache.json

plugins/dynmap/*
!plugins/dynmap/configuration.txt
!plugins/dynmap/worlds.txt
!plugins/dynmap/templates
plugins/dynmap/templates/*
!plugins/dynmap/templates/custom-*.txt

plugins/WorldEdit/schematics/
plugins/WorldEdit/sessions/
plugins/bStats/
timings/
cache/
version_history.json

metrics.json
backups

plugins/update/
lastupdate
banned-*.json

